body,html,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,table,input,img{
    margin:0;padding:0
}
img{
    display: block;
}
input{
    border:none;
    outline:none
}
ul,ol{
    list-style:none
}
a{
    text-decoration: none;
    color:#232323;
}
h1,h2,h3,h4,h5,h6,th,b,strong,i,em,s,del{
    font-weight: normal;
    font-style:normal;
    text-decoration: none;
}
/* 有的时候我们需要:使用万能清除法 */
.wnqc:after{
    content:"";
    display: block;
    clear:both;
    width: 0px;
    height:0px;
    overflow: hidden;
    visibility: hidden;
    font-size: 0px;
    opacity: 0;
}
