header {
    height: 30px;
    background-color: #e4e4e4;
    color: #9c9c9c;
    font-size: 12px;
    line-height: 30px;
}
.head-content {
    height: 100%;
}
.head-content p {
    float: left;
    color: #666;
}
.nav-item {
    float: right;
    position: relative;
}
.nav-item li {
    padding: 0 10px;
    text-align: center;
    float: left;
    width: 74px;
    overflow: hidden;
}
.nav-item .arrow-right::after {
    position: absolute;
    top: 11px;
    content: "";
    margin-left: 5px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color:transparent;
    border-width: 1.5px 1.5px 0 0;
    border-style: solid;
    border-color: #a3a3a3;
    transform: rotate(135deg)
}
.nav-item .spacer {
    width: 1px;
    height: 10px;
    padding: 0;
    margin-top: 10px;
    background-color: #ccc;
}
.nav-item li:nth-child(1) {
    width: 100px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.logo {
    margin-top: 10px;
    float: left;
    width: 190px;
    height: 120px;
    background: url("../images/sprite.png") no-repeat;
}
.search-logo {
    display: none;
    width: 125px;
    height: 60px;
    background-color: pink;
    background: url("../images/sprite.png") no-repeat;
    background-position: 0 -120px;
}
.search {
    float: left;
}
.search-from { 
    position: relative;
    float: left;
    width: 550px;
    height: 36px;
    border: 2px solid red;
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: 70px;
}
.hot-word {
    float: left;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    outline: none;
}
.search-from i {
    position: absolute;
    top: 8px;
    right: 70px;
    color: #bababa;
}
.search-from button {
    width: 58px;
    height: 32px;
    background-color: #c81623;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.Cart {
    position: relative;
    float: left;
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 14px;
    color: #c81623;
    border: 1px solid #ddd;
}
.Cart i {
    position: absolute;
    top: 1px;
    left: 25px;
    display: inline-block;
    width: 17px;
    line-height: 14px;
    border-radius: 60%;
    background-color: #c81623;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.hotwords {
    position: absolute;
    top: 40px;
    left: 0;
    color: #9d9d9d;
    font-size: 12px;
}
.hotwords a {
    margin-right: 10px;
}
.hotwords a:hover {
    color: #4c4c4c;
}
.hotwords a:nth-child(1) {
    color: #4c4c4c;
}
.navitems {
    width: 900px;
    position: absolute;
    left: 0;
    top: 70px;
    line-height: 40px;
}
.navitems li {
    color: #4c4c4c;;
    float: left;
    padding: 0 15px;
}
.navitems li:nth-child(1) {
    padding-left: 0;
}
.list {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    width: 488px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 10;
}
.list>p {
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    color: #666;
    padding: 0 5px;
}
.list>p:hover {
    background-color: #ddd;
}
.banner-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner-container>.nav-tab {
    width: 210px;
    height: 470px;
    background-color: #fefefe;
    color: #333333;
}
.nav-tab li a {
    color: #333333;
}
.banner-container>.nav-tab li {
    padding-left: 20px;
    line-height: 26px;
    font-size: 14px;
}
.banner-container>.nav-tab li:hover {
    background-color: #d9d9d9;
}
.banner-container>.banner-content {
    width: 760px;
    height: 470px;
    margin: 0 10px 0 10px;
}
.banner-box {
    position: relative;
    margin-right: 10px;
    width: 560px;
    height: 470px;
}
.banner-box img {
    width: 100%;
    height: 100%;
}
.prev,.next {
    position: absolute;
    top: 50%;
    color: #fff;
    margin-top: -20px;
    width: 25px;
    height: 36px;
    background-color: rgba(0, 0, 0, .15);
}
.banner-box>.prev {
    border-radius: 0 18px 18px 0;
    left: 0;
}
.banner-box>.banner-btn {
    position: absolute;
    left: 30px;
    bottom: 20px;
}
.banner-btn > li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
    float: left;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: rgba(255, 255, 255, .4);
}
.banner-box>.next {
    right: 0;
    border-radius: 18px 0 0 18px;
}
.banner-btn>.btn-active {
    margin-top: -2px;
    width: 9px;
    height: 9px;
    border: 3px solid rgba(0, 0, 0, .1);
    background-color: #fff;
}
.aside-banner {
    box-sizing: border-box;
    width: 190px;
    height: 470px;
}
.aside-banner li {
    height: 150px;
    margin-bottom: 10px;
    background-color:crimson;
}
.aside-banner li>img {
    width: 190px;
    height: 150px;
}
.banner-container>.banner-info {
    width: 200px;
    height: 470px;
    background-color:#fdfdfd;
}
.J_user {
    width: 160px;
    height: 102px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #eeeeee;
    margin: 0 auto;
}
.user_inner {
    margin-top: 10px;
    background-color: #c81623;
}
.user_inner>.J_user_avatar {
    width: 44px;
    height: 44px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.user_inner> .user_show {
    float: left;
    padding-top: 5px;
    font-size: 12px;
    margin-left: 5px;
}
.user_inner> .user_show p {
    color: #000; 
    margin-top: 5px;
}
.user_show p a{
    color: #000;
}
.user_profit .user_profit_lk {
    margin-right: 20px;
}
.user_inner>.J_user_avatar img {
    width: 44px;
    height: 44px;
}
.user_profit {
    height: 30px;
    margin-top: 5px;
    font-size: 12px;
}
.user_profit a {
    display: inline-block;
    width: 70px;
    line-height: 25px;
    text-align: center;
    border-radius: 15px;
}
.user_profit>.user_profit_lk {
    float: left;
    color: #fff;
    background-color: #d41d1f;
}
.user_profit>.user_profit_lk_plus {
    float: right;
    color: #c99034;
    background-color: #363634;
}
.J_news {
    margin-top: 5px !important;
    width: 170px;
    height: 130px;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
}
.J_news>.news_hd {
    line-height: 20px;
}
.news_hd>h5 {
    float: left;
    color: #333333;
}
.news_hd>a {
    float: right;
    color: #999999;
    font-size: 12px;
}
.J_news>ul {
    margin-top: 5px;
    font-size: 14px;
}
.J_news>ul li {
    width: 170px;
    line-height: 20px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666666;
}
.J_news>ul li span {
    color: #e3251b;
    display: inline-block;
    width: 40px;
    line-height: 20px;
    background-color: #fdeeed;
    text-align: center;
}
.J_service {
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 230px;
}
.J_service>.J_tab_head li {
    width: 63px;
    height: 55px;
    float: left;
    margin-right: 3px;
    text-align: center;
}
.J_tab_head li img {
    margin-top: 5px;
    width: 28px;
    height: 28px;
}
.J_tab_head li p {
    margin-top: 5px;
    font-size: 12px;
}
.j_home {
    margin-top: 20px;
    position: relative;
}
.j_home>div {
    margin-top: 10px;
}
.j_home>.J_seckill {
    height: 260px;
    background-color: pink;
}
.j_home>.J_spec {
    height: 630px;
    background-color: cornflowerblue;
}
.j_home>.J_channels {
    height: 540px;
    background-color:darkslategrey
}
.j_home>.J_feeds {
    height: 580px;
    background-color: blueviolet;
}
.J_elevator {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: 600px;
}
.J_elevator>a {
    display: block;
    width: 55px;
    height: 60px;
    font-size: 14px;
    text-align: center;
    color: 333;
    line-height: 19px;
    padding: 11px 0;
    background-color: #fff;
}
.J_elevator_fix {
    position: fixed;
    top: 75px;
}