body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #9d9d9d;
}

img,
input,
button {
    border: none;
    vertical-align: middle;
    outline: none;
}
i,  em {
    font-style: normal;
}
.warp {
    width: 1190px;
    margin: 0 auto;
}
.float {
    float: left;
}
.clear {
    clear: both;
}