@font-face {
  font-family: "iconfont"; /* Project id 3722185 */
  src: url('iconfont.woff2?t=1669870228061') format('woff2'),
       url('iconfont.woff?t=1669870228061') format('woff'),
       url('iconfont.ttf?t=1669870228061') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-dizhi:before {
  content: "\e61a";
}

